@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-lightwhite;
}

.sidebar {
  height: 100%;
  margin-top: 80px;
  width: 0; /* Sidebar is hidden initially */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s; /* Smooth transition */
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar.open {
  width: 250px; /* Width of the sidebar when it's open */
}

.toggle-btn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}
