@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-custom-lightwhite;
}

.dark body {
  @apply bg-custom-lightblack;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: -250px; /* Largura da sidebar */
  width: 250px;
  height: 100%;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.theme-btn,
.toggle-btn {
  margin: 10px;
}

.content {
  transition: margin-left 0.3s ease;
}

.content.shifted {
  margin-left: 250px; /* Largura da sidebar */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a,
.sidebar button {
  /* Ensure they don't wrap or shrink below their natural size */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Keeps the content from overflowing */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
  min-width: 0; /* Allows the content to shrink to fit, but you can adjust this as needed */
}

.sidebar a:hover {
  color: #f1f1f1;
}

.toggle-btn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}

.theme-btn {
  position: absolute;
  bottom: 165px;
  left: 15px;
  z-index: 2;
}

.title {
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px; /* Adjust spacing between buttons */
}

.list button {
  border: none;
  padding: 10px 20px 10px 65px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  transition: margin-right 0.4s ease-in-out;
  width: 260px;
  margin-left: -50px;
}

.list button:hover {
  margin-right: 0; /* Button comes from the right on hover */
}

.theme-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle-container {
  position: absolute;
  width: 200px;
  bottom: 180px;
  left: 10%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Reduced width */
  height: 20px; /* Reduced height */
  margin: 0 10px; /* Add margin to space out the icons */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px; /* Adjusted for smaller size */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Reduced height */
  width: 16px; /* Reduced width */
  left: 2px; /* Adjusted for smaller size */
  bottom: 2px; /* Adjusted for smaller size */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px); /* Adjusted for smaller size */
}

.slider.round {
  border-radius: 20px; /* Adjusted for smaller size */
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  font-size: 18px; /* Reduced font size */
  color: #ccc;
  transition: color 0.4s;
}

.icon.active {
  color: #2196f3;
}

.icon.inactive {
  color: #ccc;
}
