@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-custom-lightwhite;
}

.dark body {
  @apply bg-custom-lightblack;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: -250px; /* Largura da sidebar */
  width: 250px;
  height: 100%;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.theme-btn,
.toggle-btn {
  margin: 10px;
}

.content {
  transition: margin-left 0.3s ease;
}

.content.shifted {
  margin-left: 250px; /* Largura da sidebar */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a,
.sidebar button {
  /* Ensure they don't wrap or shrink below their natural size */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Keeps the content from overflowing */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
  min-width: 0; /* Allows the content to shrink to fit, but you can adjust this as needed */
}

.sidebar a:hover {
  color: #f1f1f1;
}

.toggle-btn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}

.theme-btn {
  position: absolute;
  bottom: 165px;
  left: 15px;
  z-index: 2;
}

.title {
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px; /* Adjust spacing between buttons */
}

.list button {
  border: none;
  padding: 10px 20px 10px 65px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  transition: margin-right 0.4s ease-in-out;
  width: 260px;
  margin-left: -50px;
}

.list button:hover {
  margin-right: 0; /* Button comes from the right on hover */
}
